:root {
  --verde-rick: #75DA43;
}

.body-index{
 background: url(./imagenes/fondoLogin.png) no-repeat center center fixed;
 background-size: cover;
 overflow-y:hidden
}

/*-------------------LOGIN----------------------------*/
.formulario{
 position: absolute;
 top: 25%;
 left: 10%;
 border: 0.2px solid lightcyan;
 padding: 50px 20px;
 margin-right: 25px;
}

.link-registro{
 color:var(--verde-rick);
}
.link-registro:hover{
 color: var(--verde-rick);
}

/*-----------REGISTRARSE------------*/
.body-register{
 background-color: #3E576C;
}

.main-register{
 width: 98vw;
 height: 98vh;
}
.section-register{
 background-color: #5B5B59;
 border: 0.2px solid #fff;
 width: 50%;
 height: 40%;
}

label ,span{
 color: var(--verde-rick);
 font-family: 'Nerko One', cursive;
}

@media (max-width: 770px) {
 .section-register{
 width: 85%;
 height: auto;
}
.main-register{
 margin-top: 50px;
 }
}

.link-log{
 color: var(--verde-rick);
}
.link-log:hover{
 color: var(--verde-rick);
}

/*-----------PERSONAJES------------*/
.body-personajes{
 background-color: #3E576C;
}

a{
 text-decoration: none;
}
.card{
 background-color: #5B5B59;
}

.personaje__nombre{
 color: #fff;
}

@media (max-width: 670px){
 .container{
  display: flex;
  flex-direction: column;
  align-items: end;
  width: 80%;
  margin-left: 5px;
 }
}